.navbar {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;

    

}


.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.logo {
    font-size: 24px;
    color: #ea4c89;
    font-weight: bold;
    margin-right: 20px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    
}



  

